---
import { Principal } from '@Layouts'
import { Generador } from '@Componentes'
import { H1 } from '@Componentes'
---
<Principal título="Generar">
	<H1 class="text-center mb-3 md:mb-5">GENERADO DE CURSOS</H1>
	<Generador client:only="vue" />
</Principal>