---
import { Principal } from "@Layouts";
import { H1, PreguntasFAQ } from '@Componentes'

const preguntas = (await Astro.glob<Pregunta>('../content/preguntas/*.md'))
                    .sort((pA, pB) => pA.frontmatter.orden - pB.frontmatter.orden)
                    .map(({ frontmatter: { pregunta, orden }, compiledContent }) => ({
                        html: compiledContent(),
                        pregunta, orden
                    }))
---
<Principal título="FAQ">
    <H1 class="text-center mb-3 md:mb-5">FAQ - Preguntas Frecuentes</H1>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3 md:gap-5 [&_a]:text-accent [&_a]:underline">
        <PreguntasFAQ preguntas={preguntas} />
    </div>
</Principal>