---
import { Registrador } from "@Componentes";
import { Principal } from "@Layouts";
---
<Principal título="Registrar">
    <h1>Registrado de cursos</h1>
    <Registrador client:only="vue" />
</Principal>