---
import { Registrador } from "@Componentes";
import { Principal } from "@Layouts";
---
<Principal título="Registrar">
    <p>Registrado de cursos</p>
    <Registrador client:only="vue" />
</Principal>