---
import { SelectorVisualizador, HorarioVisualizador } from '@Componentes'
import { Principal } from '@Layouts'
import { H1 } from '@Componentes'
---
<Principal título="Visualizar">
    <H1 class="text-center mb-3 md:mb-5">VISUALIZADO DE CURSOS</H1>
    <SelectorVisualizador clase="py-3 mb-3 md:mb-5" client:load />
    <div class="w-full overflow-x-auto">
        <HorarioVisualizador client:load />
    </div>
    <!--<Visualizador client:only="vue" />-->
</Principal>