---
import { Visualizador } from '@Componentes';
import { Principal } from '@Layouts'
---
<Principal título="Visualizar">
    <h1>Visualizado de cursos</h1>
    <Visualizador client:only="vue" />
</Principal>