---
import { Visualizador } from '@Componentes';
import { Principal } from '@Layouts'
---
<Principal título="Visualizar">
    <p>Visualizado de cursos</p>
    <Visualizador client:load />
</Principal>