--- 
//import '@fontsource-variable/inter'
import '@fontsource-variable/source-code-pro'
import { Navbar } from '@Componentes';

interface Props {
	título: string;
}

const { título } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/administrador-horarios/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Creador de Horarios - {título}</title>
	</head>
	<body class="w-screen h-screen flex flex-col text-black bg-white [&_path]:stroke-black dark:text-white dark:bg-black dark:[&_path]:stroke-white text-xs lg:text-sm 2xl:text-base">
		<Navbar class="shrink" direcciónActual={Astro.url.pathname} />
		<main class="grow w-full max-w-[1060px] mx-auto p-3 md:p-5">
			<slot transition:animate="fade"/>
		</main>
	</body>
</html>

<style is:inline>
	body {
		font-family: 'Source Code Pro Variable', sans-serif;
	}
</style>